/* Reset some basic elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
        background: #fff;
}
.ocul {
    display: none !important;
}

.cel-l {
width: 100%;
border-radius: 0px;
}

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    background: #ffff;
    padding: 0;
    margin-top: 7rem;
}
.menu-prin {
    width: 100%;
    display: flex;
    justify-content: center;
}

nav {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #465362;
    border-radius: 0 0 2rem 2rem;
    padding: 0.5rem 0;
    position: fixed;
    transition: top 0.3s;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
}

.logo img {
    width: 3.5rem;
}

.logo-t {
    color: white;
    font-size: 2rem;
    padding-left: 1rem;
    font-weight: bolder;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding-right: 1.5rem;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

.menu-toggle {
    display: none;
    font-size: 2rem;
    color: white;
    padding-right: 1.5rem;
    cursor: pointer;
}




.login-btn {
    padding: 10px 20px;
    background-color: #ff6b6b;
    color: #fff;
    border: none;
    cursor: pointer;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.hero-text {
    max-width: 100%;
}

.hero-text .ti-t {
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
}

.hero-text p {
    margin: 20px 0;
    color: #777;
}
.hero-image {
    width: 100%;
}
.hero-image img {
    width: 100%;
}

.hero-buttons button {
    padding: 1rem 3rem;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
    background-color: #ed254e;
    color: #f4fffd;
}




/*Parte de intro de about us*/
.about-us {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.subti {
    font-size: 2rem;
    color: #333;
    font-weight: bolder;
    padding: 0 1rem;
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 3rem;
    max-width: 50rem;
}
.about {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.cuadro {
    width: 75%;
    max-width: 40rem;
    background-color: #465362;
    border-radius: 1rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cuadro img {
    width: 15%;
}
.cuadro p {
    width: 75%;
    color: #f4fffd;
    font-weight: bolder;
    font-size: 1.2rem;
    padding-left: 0.5rem;
}
.cl {
    width: 25%;
    text-align: center;
}
.cl img {
    width: 10%;
}
.about a{
    padding-left: 0.5rem;
    color: #ed254e;
    width: 10%;
    font-size: 1.2rem;
    font-weight: bolder;
}






/*Area de servicios*/

.morado {
    color: #ed254e;
}

.services h2 {
    font-size: 2.2rem;
    color: #333;
    font-weight: bolder;
    text-align: center;
    margin: 7rem auto 3rem auto;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.service-items {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0 auto;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.service-item {
    max-width: 30%;
    text-align: center;
}
.item img {
    width: 7rem;
    border-radius: 1rem;
    cursor: pointer;
}

.perso {
    font-size: 2rem;
    font-weight: bolder;
    max-width: 50rem;
    text-align: center;
    margin: 0 auto;
}
.perso1 {
    font-size: 2.5rem;
    font-weight: bolder;
    max-width: 50rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 5rem;
}
.orden-conver {
    max-width: 70rem;
    margin: 0 auto;
}
.perso2 {
    font-size: 1.5rem;
    font-weight: bolder;
    max-width: 30rem;
    text-align: center;
    text-align: left;
    padding: 1rem;
    background-color: #465362;
    border-radius: 1.8rem;
    color: #f4fffd;
    margin-bottom: 4rem;
}
.conver1 {
    display: flex;
    justify-content: left;
}
.conver2 {
    display: flex;
    justify-content: right;
}
.perso3 {
    font-size: 1.5rem;
    font-weight: bolder;
    max-width: 30rem;
    padding: 1rem;
    background-color: #465362;
    border-radius: 1.8rem;
    color: #f4fffd;
}

.final {
    max-width: 50rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.final p {
    font-size: 2.5rem;
    font-weight: bolder;
    max-width: 50rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 5rem;
    color: #465362;
}



footer {
    background-color: #465362;
    color: #f4fffd;
    margin: 0.5rem;
    border-radius: 0.6rem;
    padding: 1rem;
}

.footer-content {
    width: 90%;
    max-width: 70rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.foo {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f4fffd;

}
.logo-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-1 img {
    width: 3rem;
}
.logo-1 p{
    font-size: 2rem;
    font-weight: bolder;
}
.redes {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.redes img {
    width: 3rem;
}
.derechos p {
    text-align: center;
    margin-top: 0.5rem;
    font-weight: bold;
}



@media (max-width: 750px) {
    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background-color: #465362;
        position: absolute;
        top: 82.3px; /* Ajustar según la altura de la barra de navegación */
        left: 0;
        padding: 1rem 0;
        justify-content: center;
        text-align: center;
    }
    
    nav ul li {
        margin: 0.5rem 0;
        font-size: 2rem;
    }
    
    .menu-toggle {
        display: block;
    }
    
    nav ul.show {
        display: flex;
    }
    .hero {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;   
}
.hero-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
    .hero-text .ti-t {
    font-size: 2rem;
    color: #333;
}
.about {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.subti {
    font-size: 1.5rem;
    margin-top: -0.5rem;
}
.cuadro p {
    font-size: 1rem;
}
.cl {
    margin-top: 1rem;
    width: 50%;
}
.about a{
    margin-top: 2rem;
}
.perso2 {
    font-size: 1rem;
    font-weight: bolder;
    max-width: 15rem;
    text-align: center;
    text-align: left;
    padding: 1rem;
    background-color: #465362;
    border-radius: 1.8rem;
    color: #f4fffd;
    margin-bottom: 4rem;
}
.perso3 {
    font-size: 1rem;
    font-weight: bolder;
    max-width: 15rem;
    text-align: center;
    text-align: left;
    padding: 1rem;
    background-color: #465362;
    border-radius: 1.8rem;
    color: #f4fffd;
    margin-bottom: 4rem;
}
.final {
    margin-top: 0rem;
}
.footer-content {
    width: 95%;
    max-width: 80rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.foo {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
}
.redes {
    display: flex;
    justify-content: center;
}
.redes img {
    width: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.logo-1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-1 img{
    width: 2.5rem;
}
.derechos p{
    font-size: 1rem;
    font-weight: bolder;
}
}

@media (max-width: 500px) {
    .logo img {
    width: 2.5rem;
}

.logo-t {
    color: white;
    font-size: 1.5rem;
    padding-left: 1rem;
    font-weight: bolder;
}
    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background-color: #465362;
        position: absolute;
        top: 63.36px; /* Ajustar según la altura de la barra de navegación */
        left: 0;
        padding: 1rem 0;
        justify-content: center;
        text-align: center;
    }
        .hero {
    width: 100%;
    display: flex;
    flex-direction: column-reverse; 

}
.hero-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
    .hero-text .ti-t {
    font-size: 2rem;
    color: #333;
    font-weight: bolder;
    width: 100%;
}
}
